# PTB - полностью асинхронная (начиная, с 20-й версии) библиотека для работы с Bot API

# job-queue - это встроенный в библиотеку планировщик задач. фича нужна для того,
# чтобы запускать функции (проверка RSS фидов и тд) по расписанию каждые N минут
# и выполнять их асинхронно, не блокируя обработку апдейтов бота

# в квадратных скобках указываем, чтобы подтянуть все зависимости для работы фичи
python-telegram-bot[job-queue]==22.6
python-dotenv==1.2.1        # для загрузки переменной окружения

# Парсинг:
feedparser==6.0.12          # парсит RSS и даты
trafilatura==2.0.0          # парсинг текст статей

# База данных:
sqlalchemy==2.0.46

# Асинхронные запросы ко всем источникам одновременно:
aiohttp==3.13.3

# Саммаризация
sumy==0.11.0